.sec3{
    padding:120px 0;
    background-color: #49B203;

}
.icon{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}
.jay{
    margin-bottom: 50px;
}
.mee{
    line-height: 30px;
}
.set{
    padding: 20px;
}