*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec6{
    padding: 120px 90px;
    background-color: #272727;
    
}
.section-dec{
    width: 80px;
    height: 1px;
    background-color: #dddddd;
    margin: 15px 0 70px 5px;
}
.item{
    margin: 0 7px;
    overflow: hidden;
}
.item h4:hover{
    transform: scale(1.3);
    transition: 1.3s;
}
.item h4{
    transition: 1.3s;
}
.item  h4 .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.8);
}

.item h4:hover .layer{
    opacity: 1;
    transition: 1s;
}
.owl-theme .owl-nav{
    margin: 50px 0px;
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: start;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    color: black;
    width: 75px;
    height: 70px;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.9);
    border-radius: 0 !important;
}

.owl-theme .owl-nav [class*='owl-'] {
    margin: 1px !important;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover{
    background-color: #fff;
    color: #000;
}
